$HeaderUnderlineColor: #e26a2c;
$CheckoutPageColor: 172026;
$font-family: 'Mulish', sans-serif;
$FormFontLabelSize: 14px;
$FormFontWeight: 600;
$FormBorder: 1px solid #B5B7BC;
$FormInputBorderRadius: 8px;
$formtextalign: left;
$form-line-height: 2;
$FormBtnBorder: 1px solid #e26a2c;
$FormBtnColor: #e26a2c;
$font-color: 172026;

.checkout-section{
    padding: 0px 17px;
    color: $font-color;
    font-family: $font-family;
    text-align: $formtextalign;
    line-height: $form-line-height;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .checkout-section {
        padding: 0px 50px;
        color: 172026;
        font-family: "Mulish", sans-serif;
        text-align: left;
        line-height: 2;

    }  
    .checkout_grid-section{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
    .checkout-section {
        padding: 0px 140px;
        color: 172026;
        font-family: "Mulish", sans-serif;
        text-align: left;
        line-height: 2;

    } 
    .checkout_grid-section{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
}
