@import'./../../variables.scss';
$font-family: 'Mulish', sans-serif;
$font-text-align : left;
$font-labels : 14px;
$form-border: 1px solid #b5b7bc;
$form-font-label-size: 14px;
$form-btn-border: 1px solid #e26a2c;
$form-btn-color: #e26a2c;
$payment-color: #b5b7bc;
$header-underline-color: #e26a2c;
$font-color: 172026;
$form-font-weight: 600;
$form-input-border-radius: 8px;
$form-line-height: 2;
$font-size: 14px;

.checkout-header{
    text-align: center;
}

.payment-information_section{
    color: $font-color;
    font-family: $font-family;
    text-align: $form-text-align;
    line-height: $form-line-height;
    width: 100%;
}

.payment-selection-row{
    display: flex;
    flex-direction: row;
}

input#credit-payment {
    width: 16px;
    height: 20px;
}
.payment-info-Labels{
    font-size: $font-labels;
    margin-left: 5px;
    text-align: justify;
    margin-top: 0px;
}

.form-labels{
    font-size: $form-font-label-size;
    font-weight: $form-font-weight;
}

.card-details{
    display: flex;
    justify-content: space-between;
}

.cvv-input-textbox{
    width: 50%;
    margin-left: 10px;
}


.billing-address{
    margin-top: 10px;
}

input#billing-address{
    width: 16px;
    height: 25px;
}

.payment-info_paypal{
    display: flex;
    margin-top: 20px;
}
.checkout-shipping_payment-method{
    text-align: left;
    margin-top: 20px;
    border-top: $form-border;
    
}

.form-btn{
    width: 50%;
    height: 32px;
    color: $form-btn-color;
    background-color: white;
    border: $form-btn-border;
    margin-top: 25px;
}
.continue-btn{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.guest-checkout_details{
    border: $form-border;
    padding: 10px 10px;
    font-size: $form-font-label-size;
}
.payment-shipping_contact-details{
    line-height: 2;
}
.shipping-method{
    margin-top: 1em;
}

.payment-information_section {
    width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .payment-information_section {
        padding: 0px 50px;
        color: 172026;
        font-family: "Mulish", sans-serif;
        text-align: left;
        line-height: 2;
        margin-left: -45px;
        width: 134%;
    
    }
    .contact-information_header {
        background-color: #e26a2c;
        height: 5px;
        margin-left: 607px;
        margin-right: 607px;
    
    }  
    .payment-info_grid-section{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap:1em;
    }
    .payment-shipping_contact-details{
        line-height: 2;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .shipping-method{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: $font-size;
    }
    input.input-textbox{
       
        height: 26px;
        border: 1px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;
        padding: 2px 10px; 
    }
    .card-details {
        display: flex;
        justify-content: space-between;
        width: 48%;
    }
    .payment-info_continue-btn{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .continue-btn{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
.checkout-shipping_payment-method{
    text-align: left;
    margin-top: 20px;
    border-top: $form-border;
    margin-bottom: 1em;
}


@media only screen and (min-width: 1201px) and (max-width: 1920px)  {
    .payment-information_section {
        padding: 0px 0px;
        color: 172026;
        font-family: "Mulish", sans-serif;
        text-align: left;
        line-height: 2;
    }
    .contact-information_header {
        background-color: #e26a2c;
        height: 5px;
        margin-left: 580px;
        width: 50px;
    
    }
    .payment-info_grid-section{
        
        margin-bottom: 1em;
    }
    .payment-shipping_contact-details{
        line-height: 2;
        display: grid;
        grid-template-columns: 1fr 2fr;
       
    }
    .shipping-method{
        margin-top: 1em;
        margin-bottom: 1em;
        
    }
    input.input-textbox{
       
        height: 26px;
        border: 1px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;
        padding: 2px 10px; 
    }
    .card-details {
        display: flex;
        justify-content: space-between;
        width: 48%;
    }
    .payment-information{
        border: $form-border;
        padding: 0px 10px;
        margin-top: 1em;
    }
    .payment-info_continue-btn{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .continue-btn{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .checkout-shipping_payment-method{
        text-align: left;
        margin-top: 20px;
        border-top: $form-border;
        margin-bottom: 1em;
    }
}

  