@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Playfair+Display:ital,wght@1,500&display=swap');

$paginationFontSize: 16px;
$paginationListFontWeight: 700;
$paginationColor: #1b252c;
$paginationFontFamily: 'Mulish', sans-serif; 


.pagination{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: $paginationColor;
    font-family: $paginationFontFamily;
    font-size: $paginationFontSize;
    font-weight: $paginationListFontWeight; 

 a {
    color: $paginationColor;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  a.active {
    background-color: dodgerblue;
    color: $paginationColor;
    font-family: $paginationFontFamily;
    font-size: $paginationFontSize;
    font-weight: $paginationListFontWeight; 
  }
} 
  .pagination a:hover:not(.active) {background-color: #ddd;}

